<!-- <div>
    User with ID {{ userId }} is {{ userStatus }}
</div> -->
<div>
   {{ "User" }} with ID {{ userId }} is {{ getUserStatus() }}
</div>

<button class="btn btn-primary" 
[disabled] = "!allowNewUser"
(click)="changeUserCreatedStatus()"
>
Add Users</button>
<!-- <div [innerText]="allowNewUser"> </div> -->
<div> {{ userCreatedStatus }} </div>


<div class="my-2">
    <label> User Name </label>
    <input type="text" class="form-control" (input)="onUpdateUser($event)">
</div>
<div>
    {{ userName }}
</div>
